body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #0466C8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    background: #0466C8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

a:hover {
    background: #023E8A;
}


.posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.post-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #012A4A;
    padding: 12px;
    border-radius: 10px;
    width: 350px;
    height: 145px;
    overflow: hidden;
    margin: 10px auto;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.post-preview:hover {
    transform: scale(1.04);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.post-preview h2 {
    font-size: 16px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-preview p {
    font-size: 13px;
    opacity: 0.9;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-preview .read-more {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}


.go-back {
    display: inline-block;
    text-decoration: none;
    background: #012A4A;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.go-back:hover {
    background: #01497C;
    transform: scale(1.08);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}